[Unit]
Description=Docker Compose on boot
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/ec2-user/webserver/
ExecStart=/usr/local/bin/docker-compose start
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
